section.about
  .container
    .about__content
      img.about__img-elem(src="/src/img/about/bg_elem.svg" alt="Element")
      img.about__img(src="/src/img/about/picture.png" alt="About as")
      .about__info
        img.about__info-img(src="/src/img/about/chair.png" alt=" Chair")
        .title ABOUT US
        .about__title FURNITURE OF ART.
        .about__description.
          Lorem Ipsum is simply dummy text of the printing
          anLorem Ipsum is simply dummy text of the printing
          and typesetting industry.d typesetting industry.
        .button Shop Now