.reviews
  img.reviews__bg-elem-1(src="/src/img/reviews/bg_elem_1.png" alt="Reviews")
  img.reviews__bg-elem-2(src="/src/img/reviews/bg_elem_2.svg" alt="Reviews")
  .container
    .title WHATS PEOPLE SAY’S
    #reviews.reviews__content
      //- -
      //-   const reviews = [
      //-     { name: 'Jessica Robert', label: 'Co-founder' },
      //-     { name: 'Rocky Pere', label: 'founder' },
      //-     { name: 'Albert Amansan', label: 'Co-founder' },
      //-   ]
      //- each review, i in reviews
      //-   .review
      //-     .review__avatar(style=`background-image: url('/src/img/reviews/${i+1}.jpeg')`, alt="Review")
      //-     .review__text "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings”. 
      //-     .review__name= review.name
      //-     .review__label= review.label
